

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

:root {
  --gray-light: #7D7987;
  --primary: #458FF6;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  color: black;
}

p {
  color: var(--gray-light);
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav{
  position: fixed;
  padding: 20px 0;
width: 100%;
  top : 0; 
  background-color: #0000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul.flex {
  gap: 40px;
}

.active {
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  color: #1F1534;
  text-transform: capitalize;
}
label .open , label .close{
  display: none;
}
header {
  height: 100vh;
}

header .container {
  height: 100%;
}

header .flex {
  height: 100%;
}

.header-content {
  max-width: 445px;
}

.header-content p {
  font-size: 21px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.btn {
  min-width: 200px;
  height: 56px;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}


.header-content .btn {
  background-color: var(--primary);
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.header-img img {
  width: 100%;
}